body {
  padding-top: 100px;
  padding-bottom: 150px;
  color: #000000;
  background-color: #000000;
  background-image: url("./1.jpg");
  text-align: center;
}

#output{
  color: black;
  font-size: 24px;
  font-style: italic;
  font-family: fantasy;
}

h1 {
  color: black;
  font-size: 26px;
  font-family: fantasy;
  text-align: center;
  padding-bottom: 50px;
}

.btn{
  background-color: purple;
}

.form-signin {
  max-width: 350px;
  margin: 0 auto;
  color: black;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
